{% extends 'layout2.html' %}
{% block title %}Registrar Gasto{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Gasto
        <hr>
    </h2>

    <form action="{{ url_for('formAddGasto') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="turno">Turno</label>
                <input type="text" name="turno" class="form-control" required>
            </div>
            <div class="col">
                <label for="concepto">concepto</label>
                <input type="text" name="concepto" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="valor">Valor</label>
                <input type="text" name="valor" class="form-control" placeholder="$" required>
            </div>
            <div class="col">
                <label for="color">Color</label>
                <select name="color" class="form-control" required>
                    <option value="">--- Seleccione el Color ---</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Gris">Gris</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Plata">Plata</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="puertas">Numeros de Puertas</label>
                <select name="puertas" class="form-control" required>
                    <option value="">--- Seleccione las Puertas ---</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="col">
                <label for="puertas">Más Vendido</label>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="Si" checked>
                    <label class="form-check-label" for="favorito">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="No">
                    <label class="form-check-label" for="favorito">No</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label for="foto">Foto del Gasto</label>
                <input type="file" name="foto" class="form-control-file" accept="imgs/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}