
.col-f {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px solid black;
  padding: 5px;
  outline: none;
}
.col-t {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  outline: none;
}
.body{
  background-color: blue;
}