{% extends "layout.html" %}

{% block content %}
<style>
    body {
      /*background-color: rgb(206, 226, 222);*/
      background-image: url("/static/images/bamboo.jpg");
    }
</style>
    <h1 class="text-center mt-5 mb-5 text-primary" > SATHE (Sistema Arqueo de Turnos Hotel Esperanza)</h1> 
    <div class="container">
        <div class="card shadow" >
            <div class="card-body">
                <form action="/user2" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Fecha Inicio de Turno <span style="color: red;">*</span></label>
                            <div class="input-group date">
                                <input type="text" class="form-control mb-3" id="fecha_ingreso" name="FechaIn" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col">
                            <label>Fecha Fin de Turno <span style="color: red;">*</span></label>
                            <div class="input-group date">
                                <input type="text" class="form-control mb-3" id="fecha_salida" name="FechaOut" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col">
                            <label>Turno <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Turno" placeholder="Codigo del Turno" required>
                        </div>
                        <div class="col">
                            <label>Empleado <span style="color: red;">*</span></label>
                            <select class="form-select" id="selectElement" name="Empleado" aria-label="Default select example" onchange="convertSelection()" required>
                                <option selected></option>
                                <option value="Betty Berta">Betty Berta</option>
                                <option value="Leisby Marrugo">Leisby Marrugo</option>
                                <option value="Sindry Umaña">Sindry Umaña</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Base Recibida <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Recibido" placeholder="$" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Efectivo <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Efectivo" placeholder="$" required>
                        </div>
                        <div class="col">
                            <label>Datafono <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Datafono" placeholder="$" required>
                        </div>
                        <div class="col">
                            <label>Otros Medios <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="OtrosMedios" placeholder="$" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Base Entregada <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Entregado" placeholder="$" required>
                        </div>
                        <div class="col">
                            <label>Sobre <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="EntregadoM" placeholder="$" required>
                        </div>
                        <div class="col">
                            <label>Gastos <span style="color: red;">*</span></label>
                            <input type="text" class="col-f mb-3" name="Gastos" placeholder="$" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="comment">Observaciones:</label>
                                <textarea class="form-control" rows="5" id="comment" name="Observacion"></textarea>
                                </div>
                            </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save </button>
                            <!--button class="btn btn-primary mb-3 mt-4" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar <i class="fa fa-search"></i></button-->
                        </div>
                    </div>
                </form>
                <!-- Modal -->
                <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- TABLA -->
                                <table class="table table-bordered">
                                    <thead>
                                        <th scope="col">Turno</th>
                                        <th scope="col">Empleado</th>
                                        <th scope="col">Base Recibida</th>
                                        <th scope="col">Base Entregada</th>
                                        <th scope="col">Entrega Admin</th>
                                    </thead>
                                    <tbody>
                                    {% for d in data %}
                                        <tr>
                                            <td>{{d.turno_cod}}</td>
                                            <td>{{d.empleado}}</td>
                                            <td>{{d.base_recibida}}</td>
                                            <td>{{d.base_entregada}}</td>
                                            <td>{{d.entrega_caja_m}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>    
                            </div>
                            <!--div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div-->
                        </div>
                    </div>
                </div>
                <form action="/search_turno" method="GET">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Buscar por Código de Turno</label>
                            <input type="text" class="form-control mb-3" name="Turno" placeholder="Ingrese código del turno">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Buscar <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <!-- Tabla de resultados -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Base Recibida</th>
                            <th scope="col">Ingreso Efectivo</th>
                            <th scope="col">Ingreso Datafono</th>
                            <th scope="col">Otros Medios</th>
                            <th scope="col">Gastos</th>
                            <th scope="col">Base Entregada</th>
                            <th scope="col">Entrega Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if data %}
                        {% for d in data %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ d[1] }}</td>
                                <td>{{ d[2] }}</td>
                                <td>{{ d[3] }}</td>
                                <td>{{ d[4] }}</td>
                                <td>{{ d[5] }}</td>
                                <td>{{ d[6] }}</td>
                                <td>{{ d[7] }}</td>
                                <td>{{ d[8] }}</td>
                                <td>{{ d[9] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No se encontraron resultados</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <!--Tabla de Edición>
                <div class="card shadow" >
                    <table class="table table-bordered">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Base Recibida</th>
                            <th scope="col">Ingreso Efectivo</th>
                            <th scope="col">Ingreso Datafono</th>
                            <th scope="col">Otros Medios</th>
                            <th scope="col">Gastos</th>
                            <th scope="col">Base Entregada</th>
                            <th scope="col">Entrega Admin</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </thead>
                        <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{d.Id}}</td>
                                <td>{{d.turno_cod}}</td>
                                <td>{{d.empleado}}</td>
                                <td>{{d.base_recibida}}</td>
                                <td>{{d.efectivo}}</td>
                                <td>{{d.datafono}}</td>
                                <td>{{d.otros}}</td>
                                <td>{{d.gastos}}</td>
                                <td>{{d.base_entregada}}</td>
                                <td>{{d.entrega_caja_m}}</td>
                                <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.Id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.Id}}">Edit</button></td>
                                <td><a href="{{url_for('delete', id=d.Id)}}" class="btn btn-danger btn-sm">Delete</a></td>
                            </tr>
                        <modal>
                        <div class="modal fade" id="modal{{d.Id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.Turno}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <div class="modal-body">
                                    <form action="/edit/{{d.Id}}" method="POST">
                                        <label>Turno</label>
                                        <input type="text" class="form-control mb-3" name="Turno" value="{{d.turno_cod}}">
                                        <label>Empleado</label>
                                        <input type="text" class="form-control mb-3" name="Empleado" value="{{d.empleado}}">
                                        <label>Base Recibida</label>
                                        <input type="text" class="form-control mb-3" name="Recibido" value="{{d.base_recibida}}">
                                        <label>Ingreso Efectivo</label>
                                        <input type="text" class="form-control mb-3" name="Efectivo" value="{{d.efectivo}}">
                                        <label>Ingreso Datafono</label>
                                        <input type="text" class="form-control mb-3" name="Datafono" value="{{d.datafono}}">
                                        <label>Otros Medios</label>
                                        <input type="text" class="form-control mb-3" name="OtrosMedios" value="{{d.otros}}">
                                        <label>Gastos</label>
                                        <input type="text" class="form-control mb-3" name="Gastos" value="{{d.gastos}}">
                                        <label>Base Entregada</label>
                                        <input type="text" class="form-control mb-3" name="Entregado" value="{{d.base_entregada}}">
                                        <label>Entrega Admin</label>
                                        <input type="text" class="form-control mb-3" name="EntregadoM" value="{{d.entrega_caja_m}}">
                                </div>
                                    <div class="modal-footer">                                  
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                            
                        {% endfor %}
                    </tbody>
                </table-->
            </div> 
        </div> 
        <div class="container mt-3">
            <div class="card shadow" >
                <div class="card-body">
                    <div class="col-t py-2 px-sm-3 px-md-5">
                        <h3 class="m-0 text-center">Soportes de Caja Menor </h3>
                            </div>       
                                <form action="/user3" method="POST">
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Turno <span style="color: red;">*</span></label>
                                            <input type="text" class="col-f mb-3" name="Turno" placeholder="Codigo del Turno" required>
                                        </div>
                                        <div class="col">
                                            <label>Responsable <span style="color: red;">*</span></label>
                                            <input type="text" class="col-f mb-3" name="Empleado" required>
                                        </div>
                                        <div class="col">
                                            <label>Beneficiario <span style="color: red;">*</span></label>
                                            <input type="text" class="col-f mb-3" name="Beneficiario" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Concepto <span style="color: red;">*</span></label>
                                            <input type="text" class="col-f mb-3" name="Concepto" required>
                                        </div>
                                        <div class="col">
                                            <label>Valor Gastado <span style="color: red;">*</span></label>
                                            <input type="text" class="col-f mb-3" name="Valor" required>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save </button>
                                            <!--button class="btn btn-primary mb-3 mt-4" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar <i class="fa fa-search"></i></button-->
                                        </div>
                                    </div>
                                </form>
                                <form action="/search_gastos" method="GET">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label>Buscar por Código de Turno</label>
                                            <input type="text" class="form-control mb-3" name="Turno" placeholder="Ingrese código del turno">
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary mb-3 mt-4" type="submit">Buscar <i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Tabla de resultados -->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Turno</th>
                                            <th scope="col">Empleado</th>
                                            <th scope="col">Beneficiario</th>
                                            <th scope="col">Concepto</th>
                                            <th scope="col">Valor Gasto</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if data_gastos %}
                                        {% for d in data_gastos %}
                                            <tr>
                                                <td>{{ d[0] }}</td>
                                                <td>{{ d[1]}}</td>
                                                <td>{{ d[2]}}</td>
                                                <td>{{ d[3]}}</td>
                                                <td>{{ d[4]}}</td>
                                                <td>{{ d[5]}}</td>
                                                <td><button class="btn btn-primary btn-sm" id="btn-edit{{d[0]}}" data-bs-toggle="modal" data-bs-target="#modal{{d[0]}}">Edit</button></td>
                                                <td><a href="{{url_for('delete_gastos',id=d[0])}}" class="btn btn-danger btn-sm">Delete</a></td>
                                            </tr>
                                            <!--MODAL-->
                                            <div class="modal fade" id="modal{{d[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{d[1]}}</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                    <div class="modal-body">
                                                        <form action="/edit_gastos/{{d[0]}}" method="POST">
                                                            <label>Turno</label>
                                                            <input type="text" class="form-control mb-3" name="Turno" value="{{d[1]}}">
                                                            <label>Responsable</label>
                                                            <input type="text" class="form-control mb-3" name="Empleado" value="{{d[2]}}">
                                                            <label>Beneficiario</label>
                                                            <input type="text" class="form-control mb-3" name="Beneficiario" value="{{d[3]}}">
                                                            <label>Concepto</label>
                                                            <input type="text" class="form-control mb-3" name="Concepto" value="{{d[4]}}">
                                                            <label>Valor Gastado</label>
                                                            <input type="text" class="form-control mb-3" name="Valor" value="{{d[5]}}">
                                                    </div>
                                                        <div class="modal-footer">                                  
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" class="text-center">No se encontraron resultados</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <div class="col">
                                    <label><strong> Total Gastado =  {{suma_total}} </strong></label>
                                </div>
                            </div> 
                        </div>
                    </div> 

            <div class="container-fluid py-4 px-sm-3 px-md-5">
                <p class="m-0 text-center">
                    &copy; <a class="font-weight-semi-bold" href="#">www.kernelsystemsas.com</a>. All Rights Reserved. Designed by
                    <a class="font-weight-semi-bold" href="#">Kernel System</a>
                </p>
            </div>
    <!-- JavaScript de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript de Bootstrap-datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- Configuración del datepicker -->
<script>
$(document).ready(function(){
    $('#fecha_ingreso').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        language: 'es'
    });
});
$(document).ready(function(){
    $('#fecha_salida').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        language: 'es'
    });
});

function convertSelection() {
            const selectElement = document.getElementById('selectElement');
            const inputElement = document.getElementById('inputElement');
            inputElement.value = selectElement.value;
        }

</script>
{% endblock%}