{% extends "layout.html" %}

{% block content %}
<style>
    body {
      /*background-color: rgb(206, 226, 222);*/
      background-image: url("/static/imgs/bamboo.jpg");
    }
</style>
    
    <!--PRIMER CONTAINER-->
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="text-center text-primary" > SATH (Sistema Arqueo de Turnos Hotel)</h1> 
                <form id="add_turnos">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Fecha Inicio de Turno <span style="color: red;">*</span></label>
                            <div class="input-group date">
                                <input type="datetime-local" class="form-control mb-3" id="fecha_ingreso" name="FechaIn" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col">
                            <label>Fecha Fin de Turno <span style="color: red;">*</span></label>
                            <div class="input-group date">
                                <input type="datetime-local" class="form-control mb-3" id="fecha_salida" name="FechaOut" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col">
                            <label>Código del Turno <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" name="Turno" id="CodigoDelTurno" required>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary mb-3 mt-4" type="submit">Crear Turno</button>
                        <button class="btn btn-primary mb-3 mt-4" type="button" data-bs-toggle="modal" data-bs-target="#modalCierreTurno">Cierre de Turno</button>
                    </div>
                </form>
                    <!--MODAL CIERRE TURNO-->
                    <div class="modal fade modal-lg" id="modalCierreTurno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cierre de Turno</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formCierreTurno">
                                        <div class="row mb-3 mt-4">
                                            <div class="col">
                                                <label>Código del Turno <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="Turno" name="Turno" placeholder="Código del Turno" required>
                                            </div>
                                            <div class="col">
                                                <label>Fecha de Inicio <span style="color: red;">*</span></label>
                                                <input type="date" class="form-control" name="FechaInicio" required>
                                            </div>
                                            <div class="col">
                                                <label>Fecha de Fin <span style="color: red;">*</span></label>
                                                <input type="date" class="form-control" name="FechaFin" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-4">
                                            <div class="col">
                                                <label>Base Recibida <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" name="Recibido" placeholder="$" required>
                                            </div>
                                            <div class="col">
                                                <label>Base Entregada <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" name="Entregado" placeholder="$" required>
                                            </div>
                                            <div class="col">
                                                <label>Entregado a admin <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" name="EntregadoM" placeholder="$" required>
                                            </div>
                                            <div class="col">
                                                <label>Empleado <span style="color: red;">*</span></label>
                                                <select class="form-control" id="Empleado" name="Empleado" required>
                                                    <!-- Opciones de empleados -->
                                                    <option value="Vanessa">Vanessa</option>
                                                    <option value="Anguie">Anguie</option>
                                                    <option value="Lina">Lina</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-4">
                                            <label>Observación <span style="color: red;">*</span></label>
                                            <textarea class="form-control" placeholder="Ponga aquí sus observaciones" id="Observacion" name="Observacion"></textarea>
                                          </div>
                                        <div class="row mb-3 mt-4">
                                            <div class="col">
                                                <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div> 
                    </div>                     
                    <!--FIN MODAL CIERRE TURNO-->
                <!--INICIO SEGUNDO CONTAINER-->
                <div class="row mb-3"><h4 style="text-align: center;">Consulta Turnos </h4></div>
                <!-- Tabla de resultados -->
                <!--MODAL VENTAS--> 
                <div class="modal fade modal-lg" id="modalVentas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle de la venta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formVentas">
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Turno <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Turno" placeholder="Código del Turno" required>
                                        </div>
                                        <div class="col">
                                            <label>Concepto <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Concepto" required>
                                        </div>
                                        <div class="col">
                                            <label>Efectivo <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Efectivo" placeholder="$" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Datafono <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Datafono" placeholder="$" required>
                                        </div>
                                        <div class="col">
                                            <label>Otros Medios <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Otros" placeholder="$" required>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div> 
                </div> 
                <!--FIN MODAL VENTAS-->
                
                <!--MODAL GASTOS-->
                <div class="modal fade modal-lg" id="modalGastos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle de los Gastos</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formGastos">
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Turno <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Turno" placeholder="Código del Turno" required>
                                        </div>
                                        <div class="col">
                                            <label>Responsable <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Responsable" required>
                                        </div>
                                        <div class="col">
                                            <label>Beneficiario <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Beneficiario" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3 mt-4">
                                        <div class="col">
                                            <label>Concepto <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Concepto" required>
                                        </div>
                                        <div class="col">
                                            <label>Valor <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" name="Valor" placeholder="$" required>
                                        </div>                
                                        <div class="col">
                                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div> 
                </div> 
                <!--FIN MODAL GASTOS-->
    <!--FIN SEGUNDO CONTAINER-->
    <!--TERCER CONTAINER-->
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form id="search_form">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="search_turno">Buscar Código del Turno:</label>
                            <input type="text" class="form-control" id="search_turno" name="Turno" required>
                        </div>
                        <div class="col mt-2 d-flex align-items-center">
                            <button class="btn btn-primary mt-4 me-2" type="submit">Buscar</button>
                            <button class="btn btn-primary mt-4 me-2" type="button" data-bs-toggle="modal" data-bs-target="#modalVentas">Agregar Ventas</button>
                            <button class="btn btn-primary mt-4" type="button" data-bs-toggle="modal" data-bs-target="#modalGastos">Agregar Gastos</button>
                        </div>
                    </div>
                </form>
                <div id="resultados" class="mt-4">
                    <!-- Aquí se renderizarán los resultados -->
                </div>
            </div>
        </div>
    </div>
    <!--FON DE TERCER CONTAINER-->
    <div class="container-fluid py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center">
        &copy; <a class="font-weight-semi-bold" href="#">www.kernelsystemsas.com</a>. All Rights Reserved. Designed by
        <a class="font-weight-semi-bold" href="#">Kernel System</a>
        </p>
    </div>
    <!-- JavaScript de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename ='js/material.min.js') }}">

<script type="text/javascript">

function convertSelection() {
            const selectElement = document.getElementById('selectElement');
            const inputElement = document.getElementById('inputElement');
            inputElement.value = selectElement.value;
        }

</script>

<script src="../static/js/index.js"></script>
{% endblock%}