<nav class="navbar bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img class="logo" src="{{ url_for('static', filename ='imgs/logo.png') }}"
                alt="Logo web developer Urian Viera">
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg" style="background-color: #7f786b;" >
    <div class="navbar-expand-lg">
      <a class="navbar-brand" href="{{ url_for('home') }}"><strong style="color: white;">__SATHE </strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://signin.cloudbeds.com/" target="_blank"><strong style="color: white;"><i class="fa fa-h-square" aria-hidden="true"></i> PMS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://us2.cloudbeds.com/reservation/GZ8eAy" target="_blank"><strong style="color: white;"><i class="fa fa-bed"></i> Reservas</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.hotelesperanzaac.com" target="_blank"><strong style="color: white;"><i class="fa fa-globe" aria-hidden="true"></i> Pagina</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#adminModal" href=""><strong style="color: white;"><i class="fa fa-lock" aria-hidden="true"></i> Admin</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Modal -->
<div class="modal fade" id="adminModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sección de Administración</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Función no disponible por el momento
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  