    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Turno</th>
                <th scope="col">Concepto</th>
                <th scope="col">Efectivo</th>
                <th scope="col">Datafono</th>
                <th scope="col">Otros Medios</th>
            </tr>
        </thead>
        <tbody>
            {% if data_ventas %}
                {% for d in data_ventas %}
                    <tr>
                        <td>{{ d[1] }}</td>
                        <td>{{ d[2] }}</td>
                        <td>{{ d[3] }}</td>
                        <td>{{ d[4] }}</td>
                        <td>{{ d[5] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10" class="text-center">No se encontraron resultados</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="col">
        <label><strong> Total Efectivo = {{ suma_total_efectivo }} </strong></label>
    </div>
    <div class="col">
        <label><strong> Total Datafono = {{ suma_total_datafono }} </strong></label>
    </div>
    <div class="col">
        <label><strong> Total Otros Medios = {{ suma_total_otros }} </strong></label>
    </div>

